.writeups {
  gap: 5em;
  padding: 0.25em;
  place-items: center;
  max-width: 50%;
}

.writeup {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 3em;
  width: 100%;
  max-height: 40em;
  border-radius: 1.5em;
  padding: 0.75em;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
}

.writeupimage {
  flex: 0 0 auto;
  width: 7%;
  object-fit: cover;
  margin-bottom: 0.5em;
  clip-path: circle(50%);
}

.name {
  font-size: 2em;
  font-weight: bold;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: row;
  vertical-align: middle;
  margin-left: 2%;
  gap: 1em;
}

.description {
  flex-basis: 100%;
  margin-top: 0.5em;
  color: #bbbbbb;
}

.authorimg {
  max-height: 2em;
  clip-path: circle(50%);
  display: inline-block;
}