@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* pushes footer down */
}

footer {
  width: 100%;
  text-align: center;
  background: rgb(11, 11, 11);
  padding: 1rem;
}