@import "tailwindcss";

html {
  height: 100%;
  margin: 0;
  background-color: #240303;
  font-family: "Montserrat";
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
html::-webkit-scrollbar {
  display: none;
}

.scroll-watcher {
  height: 10px;
  position: fixed;
  top:0;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {scale: 2 1;} 
}

main {
  flex: 1;
}

body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0)+60%, rgba(36, 3, 3, 1)), url("https://assets.snow562.com/images/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height:100vh;
  margin: 0;
  padding: 0;
  color: white;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#title {
  margin:2%;
  font-family: "Arial", Verdana;
  font-size: 4em;
  font-weight: bold;
}

#description {
  font-size: 1.5em;
}

h2 {
  font-size: 1.75em;
}

.img-float {
  display: block;
  filter: drop-shadow(5px 5px 10px rgb(18, 18, 18));
  padding: 1%;
}

a {
  text-decoration: underline;
  color: white;
}

a:visited {
  color: white;
}

.aboutmetext {
  padding-left: 10%;
  padding-right: 10%;
}

@media screen and (max-width: 600px) {
  #social > a > img {
    width: 20%;
  }
  
  .img-float {
    max-width: 80%;
  }
  
  #title {
    padding-top: 5%;
    margin:2%;
    font-family: "Arial", Verdana;
    font-size: 4em;
    font-weight: bold;
  }
  
  #description {
    font-size: 1.5em;
  }
  
  .aboutmetext {
    padding-left: 5%;
    padding-right: 5%;
  }

  .nav-links {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Styles for navigation bar */
nav {
  font-family: "Noto Sans";
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  display:flex;
  align-items: center;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 1 em;
}
nav a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #cccccc;
}

/* Styles for footer*/
footer {
  width: 100%;
  text-align: center;
  background: rgb(11, 11, 11);
  flex-direction: column;
  justify-content: space-between; 
  padding: 1rem;
  margin-top: auto;
}

#social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

#social img {
  width: 64px;
  transition: filter 0.3s ease;
}

#social img:hover {
  filter: brightness(0.8) saturate(1.2);
}