.projects {
  flex: 1;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 5em;
  padding: 0.25em;
  margin: 2em 1em 1em 5em;
  place-items: center;
}

.project {
  display: flex;
  align-items: flex-start;
  flex-direction: row; /* or row, depending on layout */
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  max-height: 40em;
  border-radius: 1.5em;
  padding: 0.75em;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
}

.project-image {
  flex: 0 0 auto;
  width: 7%;
  object-fit: cover;
  margin-bottom: 0.5em;
}

.name {
  font-size: 2em;
  font-weight: bold;
}

.status {
  display: flex;
  align-items: center;
  margin-left: 1em;
  border-radius: 1em;
  padding: 0.25em 0.5em 0.25em 0.5em;
  gap: 0.5em;
}

.status-emoji{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  background-color: white;
  width: 1.2em;
  height: 1.2em;
}

.status-emoji > img {
  max-height: 0.8em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.idea {
  background-color: #ac4bff;
}

.in-dev {
  background-color: #fca000;
}

.complete {
  background-color: #10a700;
}

.archived {
  background-color: #00bad6;
}


.details {
  display: flex;
  flex: 1 1 auto;
  gap: 0.5em;
  align-items: center;
  vertical-align: top;
  margin-left: 2%;
}

.description {
  flex-basis: 100%;
  margin-top: 0.5em;
}